{% extends "header.html" %}

{% block body %}


{% if company %}


<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Social Media Statistics'
        },
        subtitle: {
            text: 'Number of posts, likes, shares and comments in Facebook for a company per weekday/weekend for the period between {{since}} and {{until}}'
        },
        xAxis: {
            categories: [{% for fb in fbs %}{% if fb['weekday'] != None %}'{{ fb['weekday'] }}',{% endif%}{% endfor %}],
            title: {
                text: 'Weekdays/Weekends'
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Hits (thousands)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' '
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 160,
            floating: true,
            draggable: true,
            title: {
                text: ':: Data'
            },
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true,
            zIndex: 2000
        },
        credits: {
            enabled: false
        },
        series: [
        {% if qaction == 'Aggregate' or qaction == 'Posts' %}
        {
            name: 'Posts',
            data: [{% for fb in fbs %}{% if fb['weekday'] != None and fb['posts'] != None %}{{ fb['posts'] }},{% endif %}{% endfor %}]
        },
        {% endif %}
        {% if qaction == 'Aggregate' or qaction == 'Likes' %}
        {
            name: 'likes',
            data: [{% for fb in fbs %}{% if fb['weekday'] != None and fb['likes'] != None %}{{ fb['likes'] }},{% endif %}{% endfor %}]
        },
        {% endif %}
        {% if qaction == 'Aggregate' or qaction == 'Shares' %}
        {
            name: 'Shares',
            data: [{% for fb in fbs %}{% if fb['weekday'] != None and fb['shares'] != None %}{{ fb['shares'] }},{% endif %}{% endfor %}]
        },
        {% endif %}
        {% if qaction == 'Aggregate' or qaction == 'Comments' %}
        {
            name: 'Comments',
            data: [{% for fb in fbs %}{% if fb['weekday'] != None and fb['comments'] != None %}{{ fb['comments'] }},{% endif %}{% endfor %}]
        }{% endif %}
        ]
    });
});
</script>


{% endif %}





<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/jq-2.2.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,kt-2.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/t/dt/jq-2.2.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,kt-2.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#fbtable').DataTable({
      "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
      dom: 'B<"clear">lfrtip',
      buttons: {
          name: 'primary',
          buttons: [ 'copy', 'csv', 'excel', 'pdf' ]
      }
    });
} );
</script>





<div>

<table id="fbtable" class="table table-hover table table-striped table-bordered" cellspacing="0" width="100%" >
<caption>Facebook Weekdays/Weekends Results for the period between {{since}} and {{until}}. </caption>
<thead>
  <th>#</th>
  <!-- <th>id</th> -->
  <th>Company</th>
  <th>Weekday/Weekend</th>
  {% if qaction == 'Aggregate' or qaction == 'Posts' %}
  <th>Posts</th>
  {% endif %}
  {% if qaction == 'Aggregate' or qaction == 'Likes' %}
  <th>Likes</th>
  {% endif %}
  {% if qaction == 'Aggregate' or qaction == 'Shares' %}
  <th>Shares</th>
  {% endif %}
  {% if qaction == 'Aggregate' or qaction == 'Comments' %}
  <th>Comments</th>
  {% endif %}
</thead>
<tbody>
{% for fb in fbs %}
  <tr>
    <td>{{ loop.index }}</td>
    <!-- <td>{{fb[0]}}</td> -->
    <td>{{fb["company"]}}</td>
    <td>{{fb["weekday"]}}</td>
    {% if qaction == 'Aggregate' or qaction == 'Posts' %}
    <td>{{fb["posts"]}}</td>
    {% endif %}
    {% if qaction == 'Aggregate' or qaction == 'Likes' %}
    <td>{{fb["likes"]}}</td>
    {% endif %}
    {% if qaction == 'Aggregate' or qaction == 'Shares' %}
    <td>{{fb["shares"]}}</td>
    {% endif %}
    {% if qaction == 'Aggregate' or qaction == 'Comments' %}
    <td>{{fb["comments"]}}</td>
    {% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>
</div>




{% if company %}

<div id="container" style="min-width: 900px; max-width: 1200px; height: {% set lngth = fbs|length %}{%if lngth > 5 %}{{ lngth * 100 }}px{% else %}450px{% endif %}; margin: 0 auto"></div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://rawgithub.com/highslide-software/draggable-legend/master/draggable-legend.js"></script>


{% endif %}


{% endblock %}