{% extends "header.html" %}

{% block body %}

<link rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css">
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/locales/bootstrap-datepicker.el.min.js" charset="UTF-8"></script>
<script type="text/javascript">
  $(document).ready(function () {
  $('.input-daterange').datepicker({
      format: "dd/mm/yyyy",
      todayBtn: "linked",
      clearBtn: true,
      // language: "el",
      autoclose: true,
      todayHighlight: true
  });
            // When the document is ready
                
                // $('.input-daterange').datepicker({
                //     todayBtn: "linked"
                // });
            
  });
</script>

  <div class="container">
    <br/>
    <h4>Give the company's facebook name:</h4>
    <br/>
    <form action="" class="form-inline" method="post">

      <span class="input-group-addon" style="width:250px; text-align: left;">
        <div class="form-group">
          <label for="branch">Select company's branch:</label>
          <select class="form-control" id="branch" name="branch">
          {% for branch in branches %}
            <option value="{{ branch[0]}}">{{ branch[1]}}</option>
          {% endfor %}
          </select>
        </div>
        <br /><br />
        <label for="company">Give company's name:</label>
        <input type="text" class="form-control" placeholder="Company Name" name="company" id="company" value="{{request.form.company}}">
        <!-- <input type="text" class="form-control" placeholder="Default: 200" name="population" value="{{request.form.population}}"> -->&nbsp;&nbsp;&nbsp;
        <label for="nodelete">Do not delete old posts:</label>
        <input id="nodelete" name="nodelete" type="checkbox" aria-label="...">
      </span>

      <br/><br/>
                <div class="input-daterange input-group" id="datepicker" >
                    <span class="input-group-addon" >from</span>
                    <input type="text" class="form-control" name="since" value="{{request.form.since}}"/>
                    <span class="input-group-addon" >to</span>
                    <input type="text" class="form-control" name="until" value="{{request.form.until}}"/>
                </div>
      <br/><br/>
      <input class="btn btn-default" type="submit" value="Search">
    </form>

    <p>{% if error %}{{error}}{% endif %}</p>
  </div>

{% endblock %}



