{% extends "header.html" %}

{% block body %}
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs-3.3.5/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-html5-1.1.0,b-print-1.1.0,r-2.0.0,se-1.1.0/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/s/bs-3.3.5/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-html5-1.1.0,b-print-1.1.0,r-2.0.0,se-1.1.0/datatables.min.js"></script> -->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/jq-2.2.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,kt-2.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/t/dt/jq-2.2.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,kt-2.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.min.js"></script>


<script type="text/javascript">
  $(document).ready(function() {
    $('#fbtable').DataTable({
      "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
      dom: 'B<"clear">lfrtip',
      buttons: {
          name: 'primary',
          buttons: [ 'copy', 'csv', 'excel', 'pdf' ]
      }
    });
} );
</script>

<div>

<table id="fbtable" class="table table-hover table table-striped table-bordered" cellspacing="0" width="100%" >
<caption>Facebook Results for {{ company_name }} ({{ followers[1] }}) Followers: {{ followers[2] }}{% if branch %}, Branch: {{ branch[0][1] }}{% endif %}</caption>
<thead>
  <th>#</th>
  <!-- <th>id</th> -->
  <th>created_time</th>
  <th>Day</th>
  <th>Day Type</th>
  <th>message</th>
  <th>Message characters</th>
  <th>Message words</th>
  <th>type</th>
  <th>likes</th>
  <th>shares</th>
  <th>comments</th>
</thead>
<tbody>
{% for fb in fbs %}
  <tr>
    <td>{{ loop.index }}</td>
    <!-- <td>{{fb[0]}}</td> -->
    <td>{{fb[3]}}</td>
    <td>{{fb[3]|getweekday}}</td>
    <td>{% if fb[3]|getweekday == 'Sunday' or fb[3]|getweekday == 'Saturday' %}Weekend{% else %}Weekday{% endif %}</td>
    <td>{{fb[4]}}</td>
    <td>{% if fb[5] %}{{ fb[5] }}{% endif %}</td>
    <td>{% if fb[4] %}{{ fb[4]|wordcount }}{% endif %}</td>
    <td>{{fb[6]}}</td>
    <td>{{fb[7]}}</td>
    <td>{{fb[8]}}</td>
    <td>{{fb[9]}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endblock %}

