{% extends "header.html" %}

{% block body %}
<link rel="stylesheet" href="/static/css/bootstrap-datepicker.min.css">
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/locales/bootstrap-datepicker.el.min.js" charset="UTF-8"></script>
<script type="text/javascript">
  $(document).ready(function () {
  $('.input-daterange').datepicker({
      format: "dd/mm/yyyy",
      todayBtn: "linked",
      clearBtn: true,
      // language: "el",
      autoclose: true,
      todayHighlight: true
  });
            // When the document is ready
                
                // $('.input-daterange').datepicker({
                //     todayBtn: "linked"
                // });
            
  });
</script>



<body>
  <div class="container">
    <br/>
    <h4>Give the company's GooglePlus name (Example name: "+vodafonegr" without the quotes):</h4>
    <br/>
    <form action="" class="form-inline" method="post">
          <div class="form-group">
      <label for="company">Select a company from the list:</label>
      <select class="form-control" id="company" name="company">
      {% for company in gps %}
        <option value="{{ company[0]}}">{{ company[1]}}</option>
      {% endfor %}
      </select>
    </div>
      <br/><br/>
                <div class="input-daterange input-group" id="datepicker" >
                    <span class="input-group-addon" >Since date:</span>
                    <input type="text" class="form-control" name="since" value="{{request.form.since}}"/>
                    <span class="input-group-addon" >to</span>
                    <input type="text" class="form-control" name="until" value="{{request.form.until}}"/>
                </div>
      <br/><br/>
      <input class="btn btn-default" type="submit" value="Search">
    </form>
    <p>{% if error %}{{error}}{% endif %}</p>
  </div>
</body>
{% endblock %}