{% extends "header.html" %}

{% block body %}
<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs-3.3.5/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-html5-1.1.0,b-print-1.1.0,r-2.0.0,se-1.1.0/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/s/bs-3.3.5/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.10,b-1.1.0,b-colvis-1.1.0,b-html5-1.1.0,b-print-1.1.0,r-2.0.0,se-1.1.0/datatables.min.js"></script> -->

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/dt/jq-2.2.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,kt-2.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/t/dt/jq-2.2.0,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,kt-2.1.1,r-2.0.2,sc-1.4.1,se-1.1.2/datatables.min.js"></script>


<script type="text/javascript">
  $(document).ready(function() {
    $('#twtable').DataTable({
      "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
      dom: 'B<"clear">lfrtip',
      buttons: {
          name: 'primary',
          buttons: [ 'copy', 'csv', 'excel', 'pdf' ]
      }
    });
} );
</script>

<div>

<table id="twtable" class="table table-hover table table-striped table-bordered" cellspacing="0" width="100%" >
<caption>Twitter Results for {% if tweets %}{{ tweets[0][1]}}{% if branch %}, Branch: {{ branch[0][1] }}{% endif %}{% endif %}</caption>
<thead>
  <th>#</th>
  <!-- <th>id</th> -->
  <th>created_date</th>
  <th>Day</th>
  <th>Day Type</th>
  <th>text</th>
  <th>text characters</th>
  <th>text words</th>
  <th>favorite_count</th>
  <th>retweet_count</th>
  <!-- <th>retweeted</th> -->
  <th>type</th>
  <th>in_reply_to_user_id</th>
</thead>
<tbody>
{% for tweet in tweets %}
  <tr>
    <td>{{ loop.index }}</td>
    <!-- <td>{{tweet[0]}}</td> -->
    <td>{{tweet[2]}}</td>
    <td>{{tweet[2]|getweekday}}</td>
    <td>{% if tweet[2]|getweekday == 'Sunday' or tweet[2]|getweekday == 'Saturday' %}Weekend{% else %}Weekday{% endif %}</td>
    <td>{{tweet[3]}}</td>
    <td>{% if tweet[4] %}{{ tweet[4] }}{% endif %}</td>
    <td>{% if tweet[3] %}{{ tweet[3]|wordcount }}{% endif %}</td>
    <td>{{tweet[6]}}</td>
    <td>{{tweet[7]}}</td>
    <!-- <td>{{tweet[6]}}</td> -->
    <td>{{tweet[5]}}</td>
    <td>{{tweet[9]}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
</div>
{% endblock %}